:root {
    --anchor-color: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Nunito;
}

h1 {
    font-family: Noto-Serif;
    font-size: 6em;
}

h2 {
    font-size: 4em;
}

p {
    font-size: 1.4em;
}

a {
    color: var(--anchor-color);
    font-size: 2em;
}

form {
    font-size: 16px;

}

form {
    font-size: 16px;
}

fieldset {
    margin: 0px;
    border: none;
}
