.header {
    margin: 50px;
}

.header__title {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.header__subtitle {
    display: flex;
    margin-bottom: 70px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    justify-content: space-between;
}

.section {
    margin: 0px 50px;
}

.link__question {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

/* question-one */
.form__list {
    margin-bottom: 210px;
}

.title__question {
    margin: 0px 35px 40px 35px;
    ;
}

.form__item {
    margin: 0px 35px 16px 45px;
}

/*question-three*/
.slaider {
    width: 80%;
    height: 10px;
    background: grey;
    margin: 0px 39px 20px 50px;
    -webkit-appearance: none;
    border-radius: 25px;
}

.slaider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background-color: black;
}

.slaider__item {
    display: flex;
    justify-content: space-around;
}