.header {
    margin: 50px;
}

.header__title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.header__subtitle {
    display: flex;
    margin-bottom: 70px;
}

.section {
    margin: 0px 50px 150px;
}

.link__question {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
