@font-face {
    font-family: Noto-Serif;
    src: url(./assets/typography/NotoSerif-Bold.ttf);
}

@font-face {
    font-family: Nunito;
    src: url(./assets/typography/Nunito-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.header {
    display: flex;
    flex-direction: column;
}