@font-face {
    font-family: Noto-Serif;
    src: url(./assets/typography/NotoSerif-Bold.ttf);
}

@font-face {
    font-family: Nunito;
    src: url(./assets/typography/Nunito-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.header {
    display: flex;
    flex-direction: column;
}

.header__title {
    display: flex;
    justify-content: center;
    font-family: Noto-Serif;
    margin: 50px;
    font-size: 6em;
}

.header__subtitle {
    display: flex; 
    margin: 30px 0px 30px 50px;
    font-size: 4em;
}

.section {
    margin: 50px 50px;
    width: 600px;
    height: 450px;
}

.section__paragraph {
    font-size: 1.4em;
    font-family: Nunito;
}

.link__question {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Nunito;
    height: 80px;
    color: black;
    font-size: 2em;
}